# Port the API listens on (defaults to 3001)
PORT=3001

# Postgres — your database connection
DATABASE_URL="" # e.g. postgres://user:password@localhost:5432/database
DATABASE_URL_POOLED="" # e.g. postgres://user:password@localhost:5432/database

# JWT secret — used to sign and verify tokens
JWT_SECRET="" # e.g. secret key